a{
    text-decoration: none;
}
.mh-100vh{
    min-height: 100vh;
}
.bg-primary{
    background: #5b5ba8 !important;
    color: white;
}
.bg-warning{
    background: #ffd35d !important;
}
.bg-danger, .btn-danger{
    background: #f1688d !important;
}
.bg-info{
    background: #01bae1 !important;
}
.text-danger{
    color: #f1688d !important;
}
.text-primary{
    color: #5b5ba8 !important;    
}
.ls-3{
    letter-spacing: 5px;
}
.br-15{
    border-radius: 15px;
}
.br-50{
    border-radius: 50px;
}
.cursor-pointer{
    cursor: pointer;
}
.outline-none{
    outline: none !important;
}

/* Sidebar */
#sidebar{
    position: fixed;
    width: 230px;    
}
#sidebar ul li{
    margin-bottom: 25px;
}
#sidebar ul li a{
    color:white;
    display: block;
}

#main-content{
    min-height: 100vh;
    width: calc(100% - 230px);
    left: 230px;
    position: absolute;
    top: 0;
    padding:15px;
}

.card-multiple-choice:hover{
    background: #5b5ba8 !important;
    color: white;
}